.header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 0 5rem;
    position: sticky;
    top: 0;
    z-index: 100;
    background: #fff;
    box-shadow: 0 -5px 5px 5px rgba(0,0,0, .3);
}

.header__icon {
    width: 100px;
}

.header__center {
    display: flex;
    flex: 1;
    max-width: fit-content;
    border: 1px solid #b5b1b1;
    height: 35px;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding: 1rem .4rem 1rem 1rem;
    color: #b5b1b1;
    min-width: 250px;
}

.header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 250px;
}

.avatar-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: .2rem .3rem;
    border-radius: 25px;
    cursor: pointer;
}

.header__center input {
    border: none;
    outline: 0;
}

.header__right p:hover {
    transition: all .3s ease;
    background: #eee;
    cursor: pointer;
}

.header__right p {
    padding: .3rem .6rem;
    border-radius: 25px;
}